* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f7fb;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background: #088153;
  color: white;
}

header p {
  margin-top: 8px;
}

.back {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 260px;
  font-size: 16px;
  padding: 50px;
}


button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background: #13a038;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left:20px;
}

button:hover {
  background: #1eaf7a;
}

.card {
  max-width: 420px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 80px;
}

.chat-container {
  max-width: 420px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

#chatbox {
  height: 260px;
  background: #f4f7fb;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 12px;
}

.user-msg {
  background: #13a038;
  color: white;
  padding: 8px 12px;
  border-radius: 15px 15px 0 15px;
  max-width: 75%;
  margin: 6px 0 6px auto;
  font-size: 14px;
  word-wrap: break-word;
}

.bot-msg {
  background: #e5e7eb;
  color: #333;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 0;
  max-width: 75%;
  margin: 6px auto 6px 0;
  font-size: 14px;
  word-wrap: break-word;
}

.chat-input {
  display: flex;
  gap: 8px;
}

#userInput {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 10px 14px;
  background: #13a038;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.home-container {
  min-height: calc(100vh - 140px); /* adjusts for header height */
  display: flex;
  justify-content: center;
  align-items: center;
}


